body {
	background-image: url('tes.gif');
	background-repeat: no repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}

.head {
	font-size: 80px;
	font-family: courier;
	padding: 0;
	margin: 0px;
	margin-top: 40px;
	margin-left: 525px;
	color: white;
	border-left: 5px solid white;
	padding-left: 5px;
}

.h2lo {
	font-family: courier;
	text-align: center;
	color: white;
	padding: 0px;
	margin: 0px;
	margin-bottom: 100px;
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 200px;
}

.Eas {
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left: 90px;
	display: inline-block;
	filter: brightness(20%);
	border-radius: 20px;
}
.Eco {
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left: 90px;
	display: inline-block;
	filter: brightness(20%);
	border-radius: 20px;
}
.nest {
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left: 450px;
	display: inline-block;
	filter: brightness(20%);
	border-radius: 20px;
}
.matter {
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left: 90px;
	display: inline-block;
	filter: brightness(20%);
	border-radius: 20px;
}

.Eas:hover, .Eco:hover, .nest:hover, .matter:hover {
	scale: 1.2;
	border-left: 3px solid blue;
	border-top: 3px solid blue;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	filter: brightness(1);
	box-shadow: 0 0 5px black,
	0 0 25px blue,
	0 0 50px black,
	0 0 75px black,
	0 0 100px blue
}

.Eas, .Eco, .nest, .matter {
	border: 2px solid white;
	padding-bottom: 0px;
	transition: 0.5s;
	margin-left: 130px;
}

.Ea {
	margin-top: 20px;
	margin-left: 190px;
	color: white;
	font-family: courier;
	display: inline-block;
}
.Ec {
	margin-top: 20px;
	margin-left: 250px;
	display: inline-block;
	color: white;
	font-family: courier;
}
.nes {
	margin-top: 20px;
	margin-left: 135px;
	display: inline-block;
	color: white;
	font-family: courier;
}
.matt {
	margin-top: 20px;
	margin-left: 120px;
	display: inline-block;
	color: white;
	font-family: courier;
}

.Ea, .Ec, .nes, .matt {
	background-color: black;
	padding: 5px;
	border: 2px solid white;
	border-radius: 5px;
}

.name {
	color: white;
	background-color: black;
	padding: 5px;
	padding-left: 10px;
	border: 2px solid white;
	border-radius: 5px;
	width: 180px;
	margin-left: 50px;
	margin-top: 147px;
	display: inline-block;
	vertical-align: center;
	transition: 0.5s;
}

.epbi, .mail {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 132px;
	transition:0.5s;
}

.container {
	display: flex;
	
	align-items: center;
	margin-top: 42px;
}

.mail:hover, .epbi:hover {
	width: 45px;
	height: 45px;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 117px;
}

.name:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
	cursor: grab;
	scale: 1.2;
}